FFS AI.json
{
  "name": "AI Complete Financial Agent v2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "body.type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "audio",
              "value": "=$binary.audio",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -176
      ],
      "id": "35d7eef8-34e5-49e7-9c3d-deabaf41b86d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1328,
        -176
      ],
      "id": "a467f26b-28a2-4a2a-a5a8-63e366d39f9f",
      "name": "Switch Type"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "={{ $('Webhook').item.binary.audio }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1120,
        -80
      ],
      "id": "5d0f6311-c4fe-445d-be5f-3ea73c0ab011",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "3mbChNvYu3kRSO2W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -928,
        -176
      ],
      "id": "859e4049-4ea8-4d53-9222-ae8a7eb22fcb",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        -336
      ],
      "id": "09947ee0-a125-4620-8442-4baa0e1eb9af",
      "name": "Get Profile",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "accounts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        -320
      ],
      "id": "a07f2162-ade1-462f-b380-74047491e07d",
      "name": "Get Accounts",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "categories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        -320
      ],
      "id": "ef6816da-f463-48c0-8e1e-9b2835b2c8ec",
      "name": "Get Categories",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pockets",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.userId }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -544,
        -336
      ],
      "id": "8a477844-e580-434e-b555-6ca7e5042d09",
      "name": "Get Active Pockets",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get Profile').all()[0]?.json || {};\nconst accounts = $('Get Accounts').all().map(i => i.json);\nconst categories = $('Get Categories').all().map(i => i.json);\nconst pockets = $('Get Active Pockets').all().map(i => i.json);\n\n// 👉 resumen crudo del nodo Get Monthly Summary\nconst summaryRaw = $('Get Monthly Summary').all()[0]?.json || {};\n\n// Intentamos sacar el mensaje desde Merge o Edit Fields\nconst mergeNode = $('Merge').first();\nconst editNode = $('Edit Fields').first();\nconst message =\n  mergeNode?.json?.text ||\n  editNode?.json?.body?.message ||\n  '';\n\nreturn {\n  json: {\n    user_id: profile.id,\n    message,\n    profile,\n    accounts: accounts.map(a => ({\n      id: a.id,\n      name: a.name,\n      type: a.type,\n      balance: a.balance,\n      currency: a.currency,\n      is_primary: a.is_primary\n    })),\n    categories: categories.map(c => ({\n      id: c.id,\n      name: c.name,\n      type: c.type,\n      icon: c.icon,\n      color: c.color\n    })),\n    pockets: pockets.map(p => ({\n      id: p.id,\n      name: p.name,\n      type: p.type,\n      emoji: p.emoji,\n      allocated_amount: p.allocated_amount,\n      current_balance: p.current_balance,\n      currency: p.currency,\n      starts_at: p.starts_at,\n      ends_at: p.ends_at,\n      days_duration: p.days_duration,\n      daily_allowance: p.daily_allowance,\n      target_amount: p.target_amount,\n      status: p.status\n    })),\n    summary: {\n      // ✅ trae TODO lo que devuelve Get Monthly Summary\n      ...summaryRaw,\n\n      // ✅ alias cómodos / de compatibilidad:\n      currency: summaryRaw.default_currency || profile.currency || 'UYU',\n      // si en algún lado usabas total_accounts_balance, lo mapeamos al campo real\n      total_accounts_balance: summaryRaw.total_in_accounts ?? summaryRaw.total_accounts_balance ?? 0\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -176
      ],
      "id": "7ec142b4-db98-4ebd-b1ae-9b4b726e8005",
      "name": "Build Complete Context",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        -272
      ],
      "id": "6c5eefac-4413-4da0-ba10-8b6b564d7146",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3mbChNvYu3kRSO2W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente financiero inteligente que gestiona la base de datos financiera del usuario.\n\n## CONTEXTO ACTUAL\n\n**user_id:** `{{ $json.user_id }}`  \n**mensaje:** `{{ $json.message }}`  \n**fecha:** `{{ $now }}`  \n**moneda base:** `{{ $json.profile.currency }}`\n\n**Perfil:** `{{ JSON.stringify($json.profile) }}`  \n**Cuentas ({{ $json.accounts.length }}):** `{{ JSON.stringify($json.accounts) }}`  \n**Categorías ({{ $json.categories.length }}):** `{{ JSON.stringify($json.categories) }}`  \n**Bolsas ({{ $json.pockets.length }}):** `{{ JSON.stringify($json.pockets) }}`  \n**Resumen:** `{{ JSON.stringify($json.summary) }}`\n\n---\n\n## PRINCIPIOS DE INTERPRETACIÓN\n\n### 1. ENTENDER EL CONTEXTO FINANCIERO\n\nEl resumen (`summary`) contiene:\n- `available_balance` = Dinero disponible REAL ahora\n- `total_accounts_balance` = Suma de balances de cuentas\n- `fixed_expenses_month` = Gastos fijos del mes\n- `pockets_current_balance` = Dinero en bolsas activas\n\n**Cuando el usuario dice:**\n- \"mi ingreso total\" / \"disponible\" / \"lo que tengo\" → `available_balance`\n- \"balance de cuenta X\" → Busca cuenta específica\n- \"cuánto gasté\" → `fixed_expenses_month` + movimientos del mes\n- \"cuánto hay en bolsas\" → `pockets_current_balance`\n\n### 2. CÁLCULOS Y PORCENTAJES\n\nSi menciona **porcentajes**:\n1. Identifica la BASE (¿de qué número?)\n2. Calcula el monto exacto\n3. Úsalo en la operación\n\n**Ejemplos:**\n- \"20% de mi disponible\" → `available_balance * 0.20`\n- \"la mitad de mi cuenta banco\" → `account.balance / 2`\n\n### 3. INFERIR INFORMACIÓN FALTANTE\n\n**Tipo de bolsa:**\n- \"gastos\", \"comida\", \"transporte\" → `type: \"expense\"`\n- \"ahorro\", \"meta\", \"guardar\" → `type: \"saving\"`\n\n**Nombre:** Extrae del contexto o usa uno genérico relevante\n\n**Moneda:** Si no se especifica, usa `profile.currency`\n\n**Fechas:** `starts_at` = hoy, `ends_at` = starts_at + duración\n\n**Emoji:** Comida, Transporte, Ahorro, Servicios (elige apropiado)\n\n**Color:** #ef4444 gastos fijos, #3b82f6 variables, #10b981 ahorro, #8b5cf6 ingresos\n\n---\n\n## HERRAMIENTAS\n\n1. **create_account** - Crear cuenta\n2. **create_category** - Crear categoría  \n3. **create_pocket** - Crear bolsa\n4. **update_pocket** - Actualizar bolsa\n5. **create_movement** - Registrar movimiento\n6. **update_movement** - Actualizar movimiento\n7. **delete_movement** - Eliminar movimiento\n\n---\n\n## DEPENDENCIAS\n\n**ANTES de crear un movimiento, VALIDA y CREA sus dependencias:**\n\n- `income`: Requiere `account_id` (crear si no existe)\n- `pocket_expense`: Requiere `pocket_id` (PREGUNTAR si no existe) y opcionalmente `category_id` (crear si no existe)\n- `fixed_expense`: Requiere `category_id` (crear si no existe, type='fixed_expense')\n- `saving_deposit`: Requiere `category_id` (crear si no existe, type='saving')\n- `pocket_allocation`: Requiere `pocket_id` (crear primero si no existe)\n\n**REGLA:** Si el usuario habla como si existiera, créalo automáticamente (excepto bolsas que requieren más datos).\n\n---\n\n## PROCESO\n\n1. **INTERPRETAR:** ¿Qué quiere hacer?\n2. **IDENTIFICAR:** ¿Qué datos menciona/puedo inferir/calcular?\n3. **VALIDAR:** ¿Qué dependencias necesito? ¿Existen?\n4. **EJECUTAR:** Crea dependencias → movimientos → actualiza\n5. **RESPONDER:** Explica claramente en texto plano\n\n---\n\n## FORMATO DE RESPUESTA\n\nResponde ÚNICAMENTE en texto plano, sin JSON, sin markdown, sin bloques de código.\n\n**Estructura:**\n```\n[UNA SOLA FRASE clara y directa de lo que hiciste]\n```\n\n**Ejemplos:**\n```\nAgregué 20000 UYU a Santander. Balance: 20000 UYU.\n```\n```\nCreé bolsa \"Gastos Diarios\" con 5000 UYU por 31 días.\n```\n```\nGasté 1500 UYU en comida. Quedan 3500 UYU en la bolsa.\n```\n\n**MÁXIMA BREVEDAD - NO incluyas:**\n- Bloques de código (\\`\\`\\`)\n- JSON visible al usuario\n- Explicaciones técnicas\n- Datos internos de las herramientas\n- Emojis\n- Sugerencias (el frontend las manejará)\n- Múltiples frases\n- Información redundante\n\n**SÍ incluye (en UNA sola frase):**\n- Acción realizada\n- Monto relevante\n- Balance resultante (si aplica)\n\n---\n\n## REGLAS\n\n1. **SIEMPRE incluye `user_id`** en inserts\n2. **INTERPRETA lenguaje natural** - No esperes comandos exactos\n3. **CALCULA porcentajes** cuando los mencione\n4. **USA `available_balance`** para \"mi dinero\", \"disponible\"\n5. **CREA automáticamente** cuentas y categorías mencionadas\n6. **PREGUNTA solo datos críticos** (duración de bolsa, tipo)\n7. **INFIERE** nombres, emojis, colores, tipos\n8. **EJECUTA en orden** - Dependencias primero\n9. **RESPONDE en texto plano** - Sin JSON ni markdown\n10. **SÉ ULTRA CONCISO** - UNA SOLA FRASE, máximo 15 palabras\n11. **NO uses emojis** en las respuestas\n12. **NO incluyas sugerencias** - Solo la acción y resultado\n\n---\n\nProcesa el mensaje del usuario y responde en texto plano siguiendo el formato indicado.\n",
        "options": {
          "systemMessage": "=Eres un asistente financiero con acceso a herramientas para modificar la base de datos.\\n\\n## REGLA CRITICA: SIEMPRE EJECUTAR HERRAMIENTAS\\n\\nCuando el usuario solicite una operacion (agregar, gastar, crear, registrar, etc), DEBES ejecutar las herramientas correspondientes. NO respondas solo con texto explicativo.\\n\\n## FLUJO OBLIGATORIO:\\n\\n1. Interpretar que quiere hacer el usuario\\n2. Identificar datos del mensaje y del contexto\\n3. Usar Calculator si hay operaciones aritmeticas\\n4. Crear dependencias necesarias (cuentas, categorias)\\n5. EJECUTAR la herramienta principal (create_movement, create_pocket, etc)\\n6. SOLO DESPUES de ejecutar, responder con el resultado\\n\\n## CREACION AUTOMATICA:\\n\\n**SI crear automaticamente:**\\n- Categorias mencionadas: \\\"gaste en supermercado\\\" -> Crear categoria Supermercado (type: fixed_expense)\\n- Cuentas mencionadas: \\\"agregue a PayPal\\\" -> Crear cuenta PayPal\\n\\n**Preguntar si falta:**\\n- Duracion de bolsas\\n- Tipo ambiguo de bolsa\\n- Montos no especificados\\n\\n## INFERENCIA DE DATOS:\\n\\n**Moneda:** Usar profile.currency si no se especifica\\n**Fecha:** Usar fecha actual si no se especifica\\n**## TIPOS DE MOVIMIENTO:\\n\\n- \\\"gaste/compre/pague\\\" sin bolsa -> type: fixed_expense (requiere category_id)\\n- \\\"gaste\\\" con bolsa existente -> type: pocket_expense (requiere pocket_id y category_id opcional)\\n- \\\"ingreso/cobre/recibi\\\" -> type: income (requiere account_id)\\n- \\\"ahorre/guarde\\\" -> type: saving_deposit (requiere category_id)\\n- \\\"asigne a bolsa\\\" -> type: pocket_allocation (requiere pocket_id)\\n\\n## IMPORTANTE:\\n\\n- SIEMPRE incluir user_id en todas las creaciones\\n- Crear dependencias ANTES del movimiento\\n- Ejecutar herramientas en orden correcto\\n- NO responder sin ejecutar herramientas\\n- NO inventar datos que no estan en el contexto\\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        784,
        -288
      ],
      "id": "e3f9f653-da98-4553-8fab-ffef9aa7995c",
      "name": "Financial AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear una nueva cuenta bancaria, billetera o efectivo",
        "tableId": "accounts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Build Complete Context').first().json.user_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', ``, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `cash|bank|wallet|crypto|other`, 'string') }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `UYU|USD|EUR|ARS`, 'string') }}"
            },
            {
              "fieldId": "is_primary",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', `false`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        480,
        -48
      ],
      "id": "d4bd3c6c-98f9-42da-b3e8-7a5c661218b6",
      "name": "Tool: Create Account",
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear una nueva categoría de ingreso, gasto o ahorro",
        "tableId": "categories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Build Complete Context').first().json.user_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `income|fixed_expense|saving|pocket_expense|pocket_saving`, 'string') }}"
            },
            {
              "fieldId": "icon",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `📦`, 'string') }}"
            },
            {
              "fieldId": "color",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', `#gray`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "e9ad63db-4e0f-42be-a213-03417d085fce",
      "name": "Tool: Create Category",
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear una bolsa de gasto o ahorro",
        "tableId": "pockets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Build Complete Context').first().json.user_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', ``, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `expense|saving`, 'string') }}"
            },
            {
              "fieldId": "allocated_amount",
              "fieldValue": "={{ $fromAI('allocated_amount', ``, 'number') }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $fromAI('currency', `UYU|USD|EUR|ARS`, 'string') }}"
            },
            {
              "fieldId": "starts_at",
              "fieldValue": "={{ $fromAI('starts_at', 'Fecha de inicio en formato YYYY-MM-DD', 'string', $now.format('yyyy-MM-dd')) }}"
            },
            {
              "fieldId": "ends_at",
              "fieldValue": "={{ $fromAI('ends_at', 'Fecha de fin en formato YYYY-MM-DD. Debe ser mayor a starts_at', 'string', $now.plus(30, 'days').format('yyyy-MM-dd')) }}"
            },
            {
              "fieldId": "target_amount",
              "fieldValue": "={{ $fromAI('type', '', 'string') === 'saving' ? $fromAI('target_amount', 'Meta de ahorro en número', 'number', 50000) : null }}"
            },
            {
              "fieldId": "auto_return_remaining",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues9_Field_Value', `true`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "40fecd40-fc17-444e-97e2-3b1df7fc3341",
      "name": "Tool: Create Pocket",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registrar cualquier movimiento: ingreso, gasto fijo, ahorro, asignación a bolsa, gasto desde bolsa",
        "tableId": "movements",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Build Complete Context').first().json.user_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('type', `income|fixed_expense|saving_deposit|pocket_allocation|pocket_expense|pocket_return`, 'string') }}"
            },
            {
              "fieldId": "account_id",
              "fieldValue": "={{ ($fromAI('account_id', 'UUID de cuenta, dejar vacío si no aplica', 'string') || '').trim() || null }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ ($fromAI('category_id', 'UUID de categoría, dejar vacío si no aplica', 'string') || '').trim() || null }}"
            },
            {
              "fieldId": "pocket_id",
              "fieldValue": "={{ ($fromAI('pocket_id', 'UUID de bolsa, SOLO si type es pocket_allocation, pocket_expense o pocket_return', 'string') || '').trim() || null }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $fromAI('amount', 'Monto del movimiento (número mayor a 0)', 'number') }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', `UYU`, 'string') }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $fromAI('date', 'Fecha del movimiento en formato YYYY-MM-DD', 'string') || $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ ($fromAI('description', 'Descripción del movimiento', 'string') || '').trim() || null }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ $fromAI('metadata', 'Metadatos adicionales en formato JSON', 'string') || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        576,
        336
      ],
      "id": "a34f0663-e2b4-49ad-891a-ad9194e1afad",
      "name": "Tool: Create Movement",
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d14f317-70b7-4f91-9272-7794e92a7dda",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        144
      ],
      "id": "f9eb5d26-5b1c-4cf4-a7dd-522eef208c10",
      "name": "Webhook1",
      "webhookId": "9d14f317-70b7-4f91-9272-7794e92a7dda"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        -464
      ],
      "id": "45643c9d-d442-4d84-903e-7058d35c2f5c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "Razonamiento interno para operaciones complejas: cálculos multi-paso, búsqueda de IDs en contextos grandes, o planificación de múltiples acciones. No modifica la base de datos."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1152,
        176
      ],
      "id": "3fdbfbbd-b7be-417d-9890-aaeaeb20ccc6",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1280,
        176
      ],
      "id": "0b666c07-cf4f-4e82-8534-8b70fc226317",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualizar una bolsa existente (cambiar nombre, monto, fechas, etc)",
        "operation": "update",
        "tableId": "pockets",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', ``, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $fromAI('id', ``, 'string') }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', ``, 'string') }}"
            },
            {
              "fieldId": "allocated_amount",
              "fieldValue": "={{ $fromAI('allocated_Amount', ``, 'string') }}"
            },
            {
              "fieldId": "ends_at",
              "fieldValue": "={{ $fromAI('ends_at', ``, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $fromAI('status', `active|finished|cancelled`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        400
      ],
      "id": "c643c62a-b5fd-4056-9ff3-8bd29b10d3ae",
      "name": "Tool: Update Pocket",
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_monthly_summary",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -288
      ],
      "id": "c3023e04-a2db-4af8-afe8-cbc03d7ee7e8",
      "name": "Get Monthly Summary",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "DTm1mUTSfKIqIIwV",
          "name": "Supabase FFS"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Get Active Pockets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accounts": {
      "main": [
        [
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Get Monthly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Pockets": {
      "main": [
        [
          {
            "node": "Get Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Complete Context": {
      "main": [
        [
          {
            "node": "Financial AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Financial AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Account": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Category": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Pocket": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Movement": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Update Pocket": {
      "ai_tool": [
        [
          {
            "node": "Financial AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Summary": {
      "main": [
        [
          {
            "node": "Build Complete Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8ee06a54-8e07-48dc-b157-e2bdf1329136",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9970caab00256920bdb049a5ae2998c33406f33dca00798d3ac5e92c2009533"
  },
  "id": "vFcoho0lOQOjt9w2",
  "tags": []
}